html,body,div,p,span,ul,li,ol,a,img{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body,#root{
  width: 100%;
  height: 100%;
  font-size: calc(100vw / 750 * 100);
}
.warp{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size:.32rem;
}
.router{
  flex: 1;
}
.nav{
  height: .8rem;
  width: 100%;
}